<!-- Footer Section -->
<footer class="footer" th:fragment="header">
    <h2>Stay Connected</h2>
    <p>Follow us on social media for the latest updates.</p>

    <!-- Social Media Links -->
    <div class="social-icons">
        <a href="https://www.facebook.com/suhruth.y"><i class="fab fa-facebook"></i></a>
        <a href="https://x.com/821Suhruth"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/suhruth_yambakam/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/suhruthy/"><i class="fab fa-linkedin"></i></a>
    </div>

    <!-- Copyright -->
    <div class="copyright">
        &copy; 2025 Your Company. All Rights Reserved.
    </div>
</footer>


